﻿@{
    ViewBag.Title = "CreatePerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreatePerson</h2>

<form action="~/Person/SavePerson" method="post">

    <label for="Name">Name:</label>
    <br />
    <input id="Name" name="Name" type="text" value="" />
    <br />
    <br />

    <label for="Email">Email:</label>
    <br />
    <input id="Email" name="Email" type="text" value="" />
    <br />
    <br />

    <label for="DateOfBirth">DateOfBirth:</label>
    <br />
    <input id="DateOfBirth" name="DateOfBirth" type="text" value="" />
    <br />
    <br />

    <input id="create" name="create" type="submit" value="Create" />
</form>
