﻿@{
    ViewBag.Title = "GetAllPerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Domain.DTO.Person>

<h2>All Persons</h2>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <input id="Name" name="Name" type="text" value="@item.Name" />
        <br />
        <input id="Email" name="Email" type="text" value="@item.Email" />
        <br />
        <input id="DateOfBirth" name="DateOfBirth" type="text" value="@item.DateOfBirth" />
        <br />
        <a href="/Person/RemovePerson?id=@item.Id" id="0">Remove Person</a>

        <br />
        <br />
    }
}
else
{
    <div>There are no any data </div>
}
@Html.ActionLink("Create new Person", "CreatePerson", "Person")


